@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
body{
    background: #CCCCCC;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Prata', serif;
    color:#00BFA6 !important;
}

.intro{
    height: 90vh;
}
.login{
    height: 90vh;
}
.choice{
    height: 80vh;
}
.patient{
    height: 80vh;
}
.pharmacy{
    height: 80vh;
}
.doctor{
    height: 80vh;
}
.Register{
    height: 90vh;
}
.con-reg{
    height: 90vh;
}
.con-log{
    height: 90vh;
}
.components{
    height: 625px;
}
.lg-btn{
    border: 2px solid black;
}

.home-nav{
    border-bottom: 2px solid #00BFA6;
}
.home-nav-dark{
    border-bottom: 2px solid #00BFA6 !important;
}
a:hover{
    text-decoration: none !important;
}
.user-com{
    border:2px solid ;
    border-radius: 5px;
}

.components{
    border-top:2px solid ;
    border-bottom:2px solid ;
    border-left:2px solid; 
    border-radius: 10px 10px 10px 10px;
    background: #00BFA6;
    background-position: center;
    
}
.slip{
    height: 625px;
    background: #00BFA6;
    background-position: center;
    background-size: 30px 10px;
    border-top:2px solid #00BFA6;
    border-bottom:2px solid #00BFA6;
    border-right:2px solid #00BFA6; 
    border-radius: 900px 900px 0px 0px;
}
.slip-head{
    border-top:2px solid #00BFA6;
    border-bottom:2px solid #00BFA6;
    border-left:2px solid #00BFA6; 
    border-radius: 0px 900px 00px 0px;
}
.details-site{
    height: 645px;
}
.scrollable{
    height: 645px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-form{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #00BFA6; 
    border-radius: 10px;
  }

  .tick-reg{
      height: 645px;
  }

  .settings-menu{
    height: 645px;
}

.settings-menu-updatepass{
    height: 645px;
}

.settings-menu-updateauth{
    height: 645px;
}

.text-change{
    color: #00BFA6 !important;
}
.btn-change{
    background: #00BFA6 !important;
}

.card{
    height: 200px;
}

h1,h2,h3,h4,h5,h6{
    color: #00BFA6 !important;
}
.btn-outline-change:hover{
    background: #00BFA6 !important;
}
.btn-outline-change{
    border: 2px solid;
    border-color: #00BFA6 !important;
}

input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
    
    
  }

  input[type="checkbox"]:checked + label:before {
    background: #00BFA6;
    color: #333;
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
  
  input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
  }

  /* Patient Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
  }
  
  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
  #services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  #services .icon i {
    font-size: 36px;
    line-height: 1;
  }
  
  #services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .box:hover .title a {
    color: #1bb1dc;
  }
  
  #services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
  }

  
  